@mixin text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.home {
    height: 100%;
    overflow: auto;
    .search-box {
        position: fixed;
        width: 100%;
        height: 44px;
        z-index: 999;
    }
    .tab-wrap {
        * {
            border-bottom: none!important;
        }
        .am-tabs-default-bar-underline {
            display: none;
        }
        .navbar-box {
            height: 100%;
            line-height: 0;
        }
        .navbar-swrap {
            color: #fff;
            font-size: 0.3rem;
            text-align: center;
            letter-spacing: 3px;
            padding-left: 2px;
            font-weight: bold;
            width: 1rem;
            height: 1rem;
            line-height: 1rem;
            border-radius: 0.4rem;
        }
        .navbar-text {
            margin-top: 0.2rem;
            padding-left: 2px;
            color: rgb(89, 90, 92);
            font-size: 0.24rem;
            font-weight: bold;
            height: 14px;
        }
    }
    .am-tabs-pane-wrap {
        height: calc(100% - 43.5px) !important;
    }
    .am-tabs-default-bar-tab {
        height: 85px;
        
        background-color: rgb(245,245,249)!important;
    }
    .am-tabs-default-bar-top, .am-tabs-default-bar-bottom {
        background-color: rgb(245,245,249)!important;
        padding: 0 5%;
        margin:0 auto;
         * {
            border-bottom:none!important;
         }
         .am-tabs-default-bar-tab-active {
             border-bottom:none;
         }
    }
    .slider-frame {
        height: 220px;
    }
    .slider-slide {
        box-sizing: border-box;
        img {
            box-sizing: border-box;
            padding: 10px;
            border-radius: 20px;
        }
    }
    .am-search-input .am-search-synthetic-ph {
        font-size: 0;
    }
    .tab-wrap {
        height: calc(100%);
    }
    .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        height: 100%;
        .list {
            overflow: scroll;
            height: 100%;
            width: 100%;
            background-color: rgb(245, 245, 249);
            padding: 0.2rem;
            box-sizing: border-box;
            li {
                display: flex;
                justify-content: space-between;
                background-color: #fff;
                height: 2.5rem;
                border-radius: 0.2rem;
                padding: 0.2rem;
                margin-bottom: 0.2rem;
                .shop-img-wrap {
                    width: 2.3rem;
                    flex-shrink: 0;
                    margin-right: 0.3rem;

                    .shop-img {
                        height: 100%;
                        width: 100%;
                        border-radius: 0.15rem;
                    }
                }
                .shop-content-wrap {
                    width: 100%;
                    overflow: hidden;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    .shop-name {
                        font-size: 0.26rem;
                        font-weight: bold;
                        line-height: 0.4rem;
                        width: 100%;
                        @include text-ellipsis;
                    }
                }
                .shop-content {
                    font-size: 0.2rem;
                    height: 0.5rem;
                    margin-top: 0.2rem;
                    .tag {
                        padding: 0.1rem 0.2rem;
                        background: pink;
                        font-size: 0.2rem;
                        display: inline-block;
                        margin-right: 0.1rem;
                        color: #fff;
                        background-color: rgba(237, 27, 36, 0.6);
                    }
                    .recommend {
                        background-color: rgb(252, 52, 108);
                    }
                    .shangxin {
                        background-color: rgb(99, 223, 1);
                    }
                    .copyright {
                        background-color: rgb(243, 139, 18);
                    }
                    .all {
                        background-color: rgb(127, 12, 19);
                    }
                }
                .hot-wrap {
                    font-size: 0.22rem;
                    margin-bottom: 0.1rem;
                }
            }
        }
    }
}

.recommend {
    background-color: rgb(252, 52, 108);
}
.shangxin {
    background-color: rgb(99, 223, 1);
}
.copyright {
    background-color: rgb(243, 139, 18);
}
.all {
    background-color: rgb(127, 12, 19);
}

.navbar-wrap {
    display: flex;
    padding: 0.1rem 0.4rem;
    height: 70px;
    justify-content: space-around;
    .navbar-swrap {
        color: #fff;
        font-size: 0.3rem;
        text-align: center;
        letter-spacing: 3px;
        padding-left: 2px;
        font-weight: bold;
        width: 1rem;
        height: 1rem;
        line-height: 1rem;
        border-radius: 0.4rem;
    }
    .navbar-text {
        margin-top: 0.2rem;
        padding-left: 2px;
        color: rgb(89, 90, 92);
        font-size: 0.24rem;
        font-weight: bold;
    }
}

.newlist {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.8);
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    box-sizing: border-box;
    .newlist-li {
        padding-top: 0.05rem;
        padding: .05rem;

        .newlist-li-img {
            width: 3.5rem;
            height: 3.5rem;
            margin-bottom: 0.2rem;
            position: relative;
            box-sizing: border-box;
            border-radius: 0.15rem;
            
        }
        .hot {
            position: absolute;
            top: .1rem;
            right: .1rem;
            color: #000;
            font-size: .24rem;
            img {
                width: .3rem;
                margin-right: .1rem;
            }
            span,img {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .name {
            position: absolute;
            bottom: 0;
            height: 0.5rem;
            font-size: 0.28rem;
            line-height: 0.5rem;
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
            letter-spacing: 1px;
            text-indent: 0.1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .newlist-li-img:after {
        content: "";
        display: block;
        height: 0.2rem;
        background: #fff;
        width: 200%;
        position: absolute;
        bottom: -0.2rem;
        left: 0;
    }
    .newlist-li-shopcontent {
        color: #fff;
        span {
            display: inline-block;
            width: 0.5rem;
            height: 1rem;
            padding-top: 0.1rem;
            margin-left: 0.1rem;
            font-size: 0.3rem;
            text-align: center;
            position: relative;
        }
        span:before,
        span:after {
            position: absolute;
            bottom: -0.24rem;
            width: 0;
            height: 0;
            content: "";
        }
        span.recommend:before {
            left: 0;
            border-top: 0.25rem solid rgb(252, 52, 108);
            border-right: 0.25rem solid transparent;
        }
        span.recommend:after {
            right: 0;
            border-top: 0.25rem solid rgb(252, 52, 108);
            border-left: 0.25rem solid transparent;
        }
        span.shangxin:before {
            left: 0;
            border-top: 0.25rem solid rgb(99, 223, 1);
            border-right: 0.25rem solid transparent;
        }
        span.shangxin:after {
            right: 0;
            border-top: 0.25rem solid rgb(99, 223, 1);
            border-left: 0.25rem solid transparent;
        }
        span.copyright:before {
            left: 0;
            border-top: 0.25rem solid rgb(243, 139, 18);
            border-right: 0.25rem solid transparent;
        }
        span.copyright:after {
            right: 0;
            border-top: 0.25rem solid rgb(243, 139, 18);
            border-left: 0.25rem solid transparent;
        }
    }
}
